<div class="p-4">
    <h1>{{ title }}</h1>
    <!-- routerLInk example -->
    <span class="page-title font-weight-bold font-italic" style="margin-right: 4px;">{{ title }}</span>
    <a routerLink='/movie-create'>
        <img width='20' height='20' src='assets/add-icon.png' title='Add New'>
    </a>
    <table class="table table-striped table-hover">
        <thead>
            <th>ID</th>
            <th>Title</th>
            <th>Year</th>
            <th>Rating</th>
            <th>Director</th>
            <th>Action</th>
        </thead>
        <tbody>
            <tr *ngFor="let m of movies">
                <td>{{ m.id }}</td>
                <td>{{ m.title }}</td>
                <td>{{ m.year }}</td>
                <td>{{ m.rating }}</td>
                <td>{{ m.director }}</td>
                <td>
                    <a routerLink="/movie-detail/{{ m.id }}">
                        <img src="assets/details.png" width="20" height="20" title="Movie Details"
                            style="margin-right: 8px;">
                    </a>
                    <a routerLink="/movie-list">
                        <img width="20" height="20" src="assets/delete.jpg" title="Delete Movie" (click)="delete(m.id)"
                            style="margin-right: 8px;">
                    </a>
                    <a routerLink="/movie-edit/{{ m.id }}">
                        <img width="20" height="20" src="assets/pencil-icon.png" title="Edit Movie"
                            style="margin-right: 8px;">
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>